@import "tailwindcss";
@layer components{
    .bitter{
         font-family: "Bitter", serif ;
    }
    .nav-link{
        @apply
        transition
        duration-300
        ease-in-out
        transform
        hover:scale-110
        hover:text-amber-700
    }
    .sign-up{
        font-family: 'Montserrat', sans-serif;
        color: rgb(45, 78, 220);
        border: 1.5px solid rgb(45, 78, 220);
        border-radius: 45%;
        padding: 8px 18px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    .sign-up:hover{
        background-color: rgba(65, 94, 223, 0.05);
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(45, 78, 220, 0.2);
    }
    .log-in{ 
        font-family: 'Montserrat', sans-serif;
        background-color: blue;
        color:White;
        border: 1.5px solid rgb(45, 78, 220);
        border-radius: 45%;
        padding: 10px 18px;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    .log-in:hover{
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(45, 77, 220, 0.404);
    }
    .shop{
        transition: all 0.3s ease-in-out;
    }
    .shop:hover{
        transform: scale(1.06);
        box-shadow: 0 4px 8px rgba(45, 77, 220, 0.404);
    }
    .learn{
        transition: all 0.3s ease-in-out;
    }
    .learn:hover{
        transform: scale(1.06);
        box-shadow: 0 4px 8px rgba(45, 77, 220, 0.404);
    }
    .question {
        width: 100%;
    }
    .answer {
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0 16px;       
        transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
    }
    .answer.shown {
        max-height: 300px;
        opacity: 1;
        padding: 16px;
    }
    .arrow {
        transition: all 0.2s ease;
    }
    .product-card {
        width:100%;
        height: 400px;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;
    }
    .product-card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .nav-menu {
        display: none;
    }
    .nav-menu.shown{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        position: absolute;
        top: 81px;
        left: 0px;
        background-color:rgba(250, 250, 249, 0.863);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1;
        width: 100%;
        padding: 20px;
        animation: slideDown 0.4s ease-in-out;
    }
    .auth-btns{
        display: none;
    }
    .auth-btns.shown{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        position: absolute;
        top: 81px;
        right: 0px;
        z-index: 1;
        width: 30%;
        padding: 20px;
        animation: slideDown 0.4s ease-in-out;
    }
    }
    @media (min-width: 1024px) {
        .nav-menu {
            display: flex;
        }
        .auth-btns{
            display: flex;
        }    
    }
        @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateX(-30px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

